// :root {
//   --text-size: clamp(18px, 3.75vw, 20px);
//   --title-size: clamp(21px, 3.75vw, 23px);
//   --mobile-title-size: 19.5px;
//   --mobile-text-size: 16px;
// }

%sub-title {
  @include RWD($lg) {
    --maju-vrwd: 13;
  }
  @include RWD($md-lg) {
    --maju-vrwd: 17;
  }
  @include RWD($sm-md) {
    --maju-vrwd: 28;
  }
}


%inner-content {
  --maju-vrwd: 10;
  @include RWD($lg) {
    --maju-vrwd: 11.2;
  }
  @include RWD($md-lg) {
    --maju-vrwd: 14.8;
  }
  @include RWD($sm-md) {
    --maju-vrwd: 23;
  }
  @include RWD($mini) {
    --maju-vrwd: 24.5;
  }
}

.card-title {
  font-weight: bold;
  @extend %sub-title;
}