@import './transition.scss';
@import './extend.scss';
@import './clamp-font-size';

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: '微軟正黑體', Arial, sans-serif;
  color: $dark;
}

html {
  scroll-behavior: smooth;
}

@include customScrollBar($dark);

//router
.active-link {
  text-decoration: none;
  &.router-link-exact-active {
    color: red;
  }
}

#fix-landscape-window {
  position: fixed;
  background: #1b264ce8;
  z-index: 999;
  @include flex;

  .fix-landscape-content-wrapper {
    width: 100%;
    color: $white;

    .fix-landscape-content {
      width: 100%;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;

      @include landscape-RWD(1366) {
        font-size: 3.8vmin;
      }

      @include landscape-RWD(736) {
        font-size: 4.8vmin;
      }
    }
  }

  @media screen and (orientation: portrait) {
    display: none;
  }

  @media screen and (orientation: landscape) {
    display: block;
  }
}
